@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&family=Signika:wght@300;400;600&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root
{
    --nunito:'Nunito', sans-serif;
    --signika:'Signika', sans-serif;
    --poppins:'Poppins', sans-serif;
    --logo-weight:800; 
    --poppins-regular:400;
    --poppins-medium:500;
    --poppins-semibold:600;
    --poppins-bold:700;
    --signika-light:300;
    --signika-regular:400;
    --signika-semibold:600;
    --nunito-regular:400;
    --nunito-semibold:600;
    --nunito-bold:700;
    --nunito-extrabold:800;
    --black:#252525;
    --grey:#f8f8f8;
    --red:#EE2B47;
}

body
{
    width: 100vw;
    height: 100%;
}

.main
{
    width: 100%;
    height: 100%;
    background: #252525;
    padding-bottom: 30px;
}

.container
{
    position: relative;
}


/**************************************** Top Navbar ****************************************************/



.upper_nav
{
    width: 85%;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
}

.upper_nav a
{
    text-decoration: none;
}

#logo
{
    font-family: var(--nunito);
    font-weight: var(--nunito-extrabold);
    font-size: 32px;
    color: var(--grey);
}


/**************************************** Bottom Navbar ****************************************************/


#active
{
    width: 45px;
    height: 45px;
    background: var(--black);
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
}

.lower_nav a img
{
    z-index: 11;
}

.lower_nav
{

    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 352px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    z-index: 9;
}

.menu
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


/**************************************** Tracker ****************************************************/



.tracker{
    width: 100%;
    height: 100%;
}


.tracker_title
{
    width: 85%;
    margin: 0 auto;
    text-align: start;
    padding-top: 40px;
}

.tracker_title h3
{
    font-family: var(--signika);
    font-weight: var(--signika-semibold);
    font-size: 26px;
    color: var(--grey);
    margin-top: 30px;
}

.tracker_title p
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 18px;
    color: #7B7B7B;
    margin-top: 10px;
}

.tracker_image
{
    width: 320px;
    height: 180px;
    background: var(--grey);
    margin: 20px auto;
    border-radius: 8px;
}

.image_title
{
    text-align: center;
    font-family: var(--poppins);
    font-weight: var(--poppins-semibold);
    font-size: 24px;
    color: var(--black);
    margin: 20px auto;
    padding-top: 10px;
}

.ranges
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ranges .text
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 14px;
    color: #646464;
    margin-bottom: 5px;
}

#up
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 16px;
    color: #646464;
}

.carb,.fat,.protein
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.carb_range
{
    width: 70px;
    height: 80px;
    background-image: url(icons/carb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 15px 0;
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 12px;
    color: #646464;
}

.fat_range
{
    width: 70px;
    height: 80px;
    object-fit: contain;
    background-image: url(icons/fat.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 15px 0;
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 12px;
    color: #646464;
}

.protein_range
{
    width: 70px;
    height: 80px;
    object-fit: contain;    
    background-image: url(icons/protein.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 15px 0;
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 12px;
    color: #646464;
}

.side
{
    width: 149px;
    height: 133px;
    background: var(--grey);
    border-radius: 8px;
}

.count
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 32px;
}


.step_title, .burn_title
{
    font-family: var(--nunito);
    font-weight: var(--nunito-bold);
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.step_counts, .burn_counts
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 18px;
    color: #646464;
}


/**************************************** Days_slider ****************************************************/


.newtrients_title
{   
    padding-top: 150px;
    width: 85%;
    margin: 0 auto;
}

.newtrients_title h3
{
    font-family: var(--signika);
    font-weight: var(--signika-semibold);
    font-size: 26px;
    color: var(--grey);
    margin-top: 30px;   
}

.newtrients_title p
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 18px;
    color: #7B7B7B;
    margin-top: 10px;
}


.date_slider
{
    padding: 30px 0;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.month
{
    font-family: var(--signika);
    font-weight: var(--signika-semibold);
    font-size: 20px;
    padding: 15px 0 10px 0;
}

.date
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 18px;
}

.mini_card
{
    display: inline-block;
    margin: 0 12px 0 0;
    width: 70px;
    height: 90px;
    border-radius: 8px;
    background: var(--grey);
}

.mini_card:hover
{
    background: var(--red);
    color: var(--grey);
    transition: 0.5s ease;
    border: none;
    outline-offset: 20px solid #fff ;
}

.mini_card:first-child
{
    margin-left: 5px;
}



/**************************************** Breakfast / Lunch / Dinner ****************************************************/

.routine_track
{
    padding: 20px 0;
}

.eating_time
{
    position: relative;
    width: 320px;
    height: 37px;
    margin: 0 auto;
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 14px;
    color: var(--grey);

}

.eating_time img
{
    position: absolute;
    z-index: 5;
}

/* #active_time
{
    position: absolute;
    width: 90px;
    height: 30px;
    background: var(--grey);
    border-radius: 24px;
} */

.time_ul
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.time_li
{
    list-style-type: none;
    z-index: 7;
}

.time_li:first-child::after
{
    content: 'Breakfast';
    position: absolute;
    width: 90px;
    height: 30px;
    background: var(--grey);
    border-radius: 24px;
    z-index: 6;
    top: 10%;
    left: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
} 



/**************************************** Food Card ****************************************************/


.cards
{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}


.card_food
{
    width: 319px;
    height: 144px;
    background: var(--grey);
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.upper_card
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.lower_card
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.name
{
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 16px;
    color: var(--black);
}


#calorie
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 14px;
    color: #646464;
}

.progress_protein,.progress_carbs,.progress_fat
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
}

.progress_text
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 18px;
    color: #646464;
}

#prog
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 14px;
}



.food_menu
{
    position: absolute;
    top: 5%;
    right: 3%;
    width: 31px;
    height: 31px;
    background: #D1D1D1;
    border-radius: 50%;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#active_menu
{
    background: var(--red);
}

#active_menu .dot
{
    background: var(--grey);
}

.dot
{
    width: 3px;
    height: 3px;
    background: var(--black);
    border-radius: 50%;
}



/**************************************** Footer ****************************************************/

footer
{
    width: 100%;
    height: 700px;
    background: var(--grey);
}

section
{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.footer_logo
{
    font-family: var(--nunito);
    font-weight: var(--nunito-extrabold);
    font-size: 32px;
    padding: 40px 0;
}

.primary
{
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 18px;
    color: var(--black);
    margin-bottom: 5px;
}

#secondary
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 16px;
    color: #646464;
}

#secondary li
{
    list-style-type: none;
    margin-bottom: 5px;
}

.footer_title
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 90px;
}

.title_third
{
    margin-top: 45px;
}

.title_center
{
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 18px;
    color: var(--black);
    text-align: center;
    margin-top: 45px;
}

.join_footer
{
    font-family: var(--signika);
    font-weight: var(--signika-semibold);
    font-size: 26px;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 285px;
    height: 55px;
    margin: 20px auto;
    background-image: url(images/join_now_footer.png);
}

footer a
{
    text-decoration: none;
}

.copyright
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 16px;
    color: #646464;
    text-align: center;
}

