@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&family=Signika:wght@300;400;600&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --nunito:'Nunito', sans-serif;
    --signika:'Signika', sans-serif;
    --poppins:'Poppins', sans-serif;
    --logo-weight:800; 
    --poppins-regular:400;
    --poppins-medium:500;
    --poppins-semibold:600;
    --poppins-bold:700;
    --signika-light:300;
    --signika-regular:400;
    --signika-semibold:600;
    --nunito-regular:400;
    --nunito-semibold:600;
    --nunito-bold:700;
    --nunito-extrabold:800;
    --black:#252525;
    --grey:#f8f8f8;
    --red:#EE2B47;
}

body
{
    width: 100vw;
    height: 100%;
}

.main
{
    width: 100%;
    height: 100%;
    background: #252525;
    padding-bottom: 30px;
}

.container
{
    position: relative;
}




/******************************************* Top Navbar *******************************************************/




.upper_nav
{
    width: 85%;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
}

.upper_nav a
{
    text-decoration: none;
}

#logo
{
    font-family: var(--nunito);
    font-weight: var(--nunito-extrabold);
    font-size: 32px;
    color: var(--grey);
}



/******************************************* Bottom Navbar *******************************************************/



#active
{
    width: 45px;
    height: 45px;
    background: var(--black);
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    padding: 7px 0;
}

.lower_nav a img
{
    z-index: 11;
}

.lower_nav
{

    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 352px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    z-index: 9;
}

.menu
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}



/********************************************* Profile ***************************************************/




.profile
{
    padding: 50px 0 30px 0;
    text-align: center;
}

.profile_title
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 16px;
    margin-bottom: 20px;
    color: #A1A1A1;
}

.profile_img
{
    position: relative;
    margin: 0 auto;
    width: 160px;
}

.profile_img img
{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

#subscription
{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10%;
    transform: translateX(-10%);
    bottom: 0;
}

.profile_name
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 25px;
    color: var(--grey);
    margin-top: 10px;
}

.profile_email
{
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 16px;
    margin-bottom: 20px;
    color: #A1A1A1;
}



/********************************************* Options ***************************************************/




.options
{
    width: 85%;
    margin: 0 auto;
}

.edit,.renew,.setting,.terms,.log_out
{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.edit_title,.renew_title,.setting_title,.log_out_title
{
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 17px;
    color: var(--grey);
}

.terms_title
{
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    font-family: var(--signika);
    font-weight: var(--signika-regular);
    font-size: 17px;
    color: var(--grey);
}

.edit_icon,.renew_icon,.setting_icon,.terms_icon,.log_out_icon
{
    width: 48px;
    height: 48px;
    background: var(--red);
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
}

.edit_arrow,.renew_arrow,.setting_arrow,.terms_arrow,.log_out_arrow
{
    position: absolute;
    right: 0;
}



hr
{
    width: 311px;
    height: 1px;
    border: none;
    background: var(--grey);
    margin: 20px auto;
}










/********************************************* Footer ***************************************************/

footer
{
    width: 100%;
    height: 700px;
    background: var(--grey);
}

section
{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.footer_logo
{
    font-family: var(--nunito);
    font-weight: var(--nunito-extrabold);
    font-size: 32px;
    padding: 40px 0;
}

.primary
{
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 18px;
    color: var(--black);
    margin-bottom: 5px;
}

#secondary
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 16px;
    color: #646464;
}

#secondary li
{
    list-style-type: none;
    margin-bottom: 5px;
}

.footer_title
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 90px;
}

.title_third
{
    margin-top: 45px;
}

.title_center
{
    font-family: var(--nunito);
    font-weight: var(--nunito-semibold);
    font-size: 18px;
    color: var(--black);
    text-align: center;
    margin-top: 45px;
}

.join_footer
{
    font-family: var(--signika);
    font-weight: var(--signika-semibold);
    font-size: 26px;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 285px;
    height: 55px;
    margin: 20px auto;
    background-image: url(images/join_now_footer.png);
}

footer a
{
    text-decoration: none;
}

.copyright
{
    font-family: var(--signika);
    font-weight: var(--signika-light);
    font-size: 16px;
    color: #646464;
    text-align: center;
}